<div class="main">

    <!-- Single game day section starts -->
    <div class='singleGameDay'>

        <!-- Game list section starts -->
        <div class="gameList">
            <ul>
                <li>

                    <div class="containers">
                        <!-- Single game header starts -->
                        <div class='singleGameHeader d-flex justify-content-between'>
                            <span class="small gameTime">12:30</span>
                            <span class="small gamePrize">Prize: 1 coin</span>
                        </div>
                        <!-- Single game header ends -->

                        <!-- Single game body starts -->
                        <div class='singleGameBody'>
                            <div class='homeTeam'>
                                <span>West Ham</span>
                            </div>
                            <div>
                                <select name="homeTeamScore" id="">
                                    <option value="-">-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                                <span class="vs" style='margin: 0 10px;'>vs</span>
                                <select name="awayTeamScore" id="">
                                    <option value="-">-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class='awayTeam'>
                                <span>Man City</span>
                            </div>
                        </div>
                        <!-- Single game body ends -->
                    </div>

                </li>
            </ul>
        </div>
        <!-- Game list section ends -->
    </div>
    <!-- Single game day section ends -->
</div>