<!-- <app-header></app-header> -->
<bs-navbar></bs-navbar>
<div class="main">

  <!-- Page title starts -->
  <div class='orderHistory'>
      <h3>Wishlist</h3>
  </div>
  <div class="orderList">
      <!-- Page title ends -->

      <!-- Order list White background starts -->
      <div class="orderWhiteBackground">
          <div class="row"*ngFor="let product of wishListProducts$ | async">
              <div class='orderDay'>

                  <!-- Single order starts -->
                  <div class="col-sm-12 col-lg-12 singleProductCard" (click)='productModal.show(product)'>
                      <div class=' d-flex orderDetails'>
                          <div class="productImageContainer">
                              <img [src]="product.imageUrl" alt="Product Image">
                          </div>

                          <div class="productInfoContainer">
                              <div class="productName">{{product.title}}</div>
                              <div class="productPrice">Price: {{product.price}} coins</div>
                              <div class="productQuantity">Qty: 1</div>

                          </div>
                      </div>
                  </div>
                  <!-- Single order ends -->

              </div>

          </div>
      </div>

      <!-- Product info modal starts -->

      <div class='modal fade' tabindex="-1" mdbModal #productModal='mdbModal'>
          <div class="modal-dialogue modal-md">
              <div class="modal-content">
                  <div class="modal-header d-flex">
                      <span class='ml-auto close' (click)='productModal.hide()'>&times;</span>
                  </div>

                  <div class="modal-body">
                      <div>
                          <div class='productInfoTop'>
                              <img [src]="product?.imageUrl" alt="">

                              <!-- Product brief info starts -->
                              <div>
                                  <div class="productName">{{product?.title}}</div>
                                  <div class="productRatingsContainer">
                                      <div class='productStars'>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                      </div>
                                      <span class='productRatings'>(5/5)</span>
                                  </div>
                                  <div class="productPrice">{{product?.price}} coins</div>
                              </div>
                              <!-- Product brief info ends -->
                          </div>

                          <div class="productDescription">
                              <span class="descriptionTitle">description</span>
                              <p>{{product?.description}}</p>
                              <div class='readMore'>
                                  Read More
                              </div>
                          </div>

                          <!-- Confirm purchase button starts -->
                          <div class='purchaseBtnContainer'>
                              <button mdbBtn mdbWavesEffect class="waves-light relative font-weight-bold mx-auto bg-primary">Buy Now</button>
                              <button mdbBtn mdbWavesEffect class="waves-light relative font-weight-bold mx-auto grey">Remove Item</button>
                          </div>
                          <!-- Confirm purchase button ends -->
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <!-- Product info modal ends -->
  </div>
</div>
