 <!--<app-header></app-header>-->
 <div class="" style="margin-bottom: 35px;">
    <bs-navbar></bs-navbar>
 </div>
 <div class="container">
    <div class="row">
        <div class="col-md-3 categories" >
            <div *ngIf="!mobile" class=' navbarProductSearchBox'>
                <input type="text" placeholder="Search product" class='' style = "">
                <i class="fas fa-search"></i>
            </div>
      
          <product-filter [category]="category" style='width: 51%;'></product-filter>
              <!-- Search bar starts -->
       <div *ngIf="mobile" class=' navbarProductSearchBox'>
        <input type="text" placeholder="Search product" class='' style = "">
        <i class="fas fa-search"></i>
    </div>
  <!-- Search bar ends -->
        </div>
        <div class="col">
          <div class="row" >
              <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col-md-6 col-lg-4 singleCard">
                  <product-card [product]="p" [shoppingCart]="cart" [ratingArray] = "rating"></product-card>
                </div>
                <!-- <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div> -->
              </ng-container>
            </div>
        </div>
      </div>
 </div>

