<div class="row">
  <div class="col-sm-12 col-lg-7">
    <div>
      <div *ngIf="contestListData.length > 0 || isLoading">
        <div class="container" *ngIf="!isDisabled; else elseBlock">
          <!-- Card starts -->
          <mdb-card class="my-3" *ngFor="let collections of contestListData">
            <div class="border-bottom pt-2 pb-0">
              <div class="d-flex">
                <div class="d-flex">
                  <img
                    src="assets/image/Premier_League-Mascot.png"
                    alt=""
                    width="55px"
                    height="40px"
                    style="border-radius: 50%;"
                  />
                  <div class="contestNameBlock">
                    <h5 class="contestTitle mb-0 pb-0 font-weight-bold">
                      {{ collections.collection_name }}
                    </h5>
                    <!-- <span class="small mt-0 pt-0">29/12/18</span>-->
                  </div>
                </div>

                <select class="ml-auto matchList mr-2" width="50px">
                  <option selected>{{
                    collections.matches.length + " MATCHES"
                  }}</option>
                  <option
                    value="{{ match.season_game_uid }}"
                    *ngFor="let match of collections.matches"
                  >
                    {{ match.home + " vs " + match.away }}
                  </option>
                </select>
              </div>
            </div>

            <div class="contestInfoContainer container border-bottom py-2 pb-3">
              <table id="contestInfo1" class="">
                <thead>
                  <tr>
                    <th class="small ContestNameTitle">Contest</th>
                    <th class="small text-center">Prize Pool</th>
                    <th class="small text-center ">Team</th>
                    <th class="small text-center tableItem">Rank</th>
                    <th class="small text-center tableItem">Won</th>
                    <th class="small text-center tableItem">Completed</th>
                    <th class="small text-center tableItem">Total Point</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    class=""
                    *ngFor="
                      let leagues of collections.contests;
                      let contestIndex = index
                    "
                  >
                    <td id="contestName">
                      <div class="d-flex align-items-center">
                        <button
                          class="waves-dark relative dropdown-toggle mobileContestInfoBtn p-0 black-text ml-0"
                          mdbBtn
                          mdbWavesEffect
                          mdbDropdownToggle
                          (click)="mobileContestInfo(leagues.contest_id)"
                        ></button>

                        <div>
                          <span (click)="getContestDetail(leagues)">
                            {{ leagues.contest_name }}
                            <span
                              class="badge badge-pill py-1 amber darken-3 mt-0 contestPill"
                              >P</span
                            ></span
                          >
                        </div>
                      </div>

                      <!--  DROPDOWN FOR CONTEST INFO ON MOBILE -->
                      <div
                        class=" px-2 mt-2"
                        id="contestinfomobile"
                        *ngFor="
                          let leaguesteam of leagues.teams;
                          first as isFirst
                        "
                        [ngClass]="{
                          display:
                            deviceService.isMobile() &&
                            toggledContest === leagues.contest_id
                        }"
                      >
                        <span
                          *ngIf="
                            isFirst && leagues.firstContest
                              ? getTeamLineup(leaguesteam, leagues)
                              : ''
                          "
                        ></span>
                        <div class="d-flex small my-2 align-items-center">
                          <span>Rank</span>
                          <span class="ml-auto">
                            <span class="font-weight-bold">
                              {{
                                leaguesteam.game_rank
                                  ? leaguesteam.game_rank
                                  : "--"
                              }} </span
                            >/ {{ leagues.size }}</span
                          >
                        </div>
                        <div class="d-flex small my-2">
                          <span>Won:</span>
                          <span
                            class="ml-auto"
                            *ngIf="
                              !leaguesteam.won_prize &&
                              !leaguesteam.won_merchandise
                            "
                            >--</span
                          >
                          <span
                            class="ml-auto"
                            *ngIf="
                              leaguesteam.won_prize && leagues.prize_type != 3
                            "
                            ><i class="fas fa-coins ml-2"></i
                          ></span>
                          {{ leaguesteam.won_prize }}
                          <span
                            class="ml-auto"
                            *ngIf="
                              leaguesteam.won_merchandise &&
                              leagues.prize_type == 3
                            "
                          >
                            <img
                              [src]="leaguesteam.won_merchandise"
                              height="30"
                              width="30"
                            />
                          </span>
                        </div>
                        <div class="d-flex small my-2">
                          <span>Completed (PST):</span>
                          <span class="ml-auto">
                            <span class="d-block font-weight-bold m-0">{{
                              leagues.season_scheduled_date | date
                            }}</span>
                            <span class="small ml-auto d-block text-right">{{
                              leagues.season_scheduled_date | date: "shortTime"
                            }}</span></span
                          >
                        </div>

                        <div class="d-flex small my-2">
                          <span>Total Points:</span>
                          <span class="ml-auto">{{
                            leaguesteam.total_score
                              ? leaguesteam.total_score
                              : "--"
                          }}</span>
                        </div>
                      </div>

                      <!--  END OF DROPDOWN FOR CONTEST INFO ON MOBILE -->
                    </td>
                    <td class="text-center pt-0">
                      <div class="dropdown" mdbDropdown>
                        <!-- <div mdbDropdownToggle class="dropdown-toggle">
                              <span class="d-block"
                                ><i class="fas fa-coins ml-2"></i> 5 Coins</span
                              >
                              <small>10 winner(s)</small>
                            </div>-->
                        <div
                          mdbDropdownToggle
                          class="dropdown-toggle"
                          *ngIf="
                            (leagues.prize_details &&
                              leagues.prize_pool != 0) ||
                            leagues.prize_type == 3
                          "
                        >
                          <span
                            *ngIf="
                              leagues.prize_type == 0 || leagues.prize_type == 1
                            "
                            class="d-block"
                          >
                            {{
                              leagues.prize_pool == 0
                                ? "Skill Game"
                                : leagues.prize_pool
                            }}
                          </span>
                          <span *ngIf="leagues.prize_type == 2" class="d-block">
                            {{ leagues.prize_pool
                            }}<i class="fas fa-coins ml-2"></i>
                          </span>
                          <span *ngIf="leagues.prize_type == 3" class="d-block">
                            <i class="fas fa-gift ml-2"></i
                          ></span>
                          <small
                            >{{ leagues.prize_details.length }}
                            {{ "winner(s)" }}
                          </small>
                        </div>
                        <div
                          class="dropdown-menu mt-0 pt-0"
                          id="priceDetailsMobile"
                        >
                          <div class="prizePoolTable">
                            <div class="prizePoolHeader">
                              <span class="">
                                Rank
                              </span>
                              <span class="">
                                Prize
                              </span>
                            </div>
                            <div
                              class="prizePoolItem"
                              *ngFor="let prize of leagues.prize_details"
                            >
                              <span
                                >{{ prize.min }}
                                {{
                                  prize.max != prize.min
                                    ? " - " + prize.max
                                    : ""
                                }}</span
                              >
                              <span
                                class="text-center"
                                *ngIf="
                                  leagues.prize_type == 0 ||
                                  leagues.prize_type == 1
                                "
                              >
                                {{ prize.amount }}
                              </span>
                              <span
                                class="text-center"
                                *ngIf="leagues.prize_type == 2"
                              >
                                {{ prize.amount }}
                              </span>
                              <span
                                class="text-center"
                                *ngIf="leagues.prize_type == 3"
                              >
                                <img
                                  title="{{ prize.description }}"
                                  width="25"
                                  [src]="prize.image"
                                />
                                <span
                                  title="{{ prize.description }}"
                                  class=""
                                  >{{ prize.description }}</span
                                >
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td
                      class="text-center "
                      [(ngModel)]="teamName"
                      [ngModelOptions]="{ standalone: true }"
                      name="teamName"
                      ngDefaultControl
                    >
                      <!--<span> {{ leaguesteam.team_name }}</span>-->
                      <select
                        class=""
                        #myTeam
                        id=""
                        style="border: none;"
                        (change)="onSelectTeam(myTeam, leagues, collections)"
                      >
                        <ng-container
                          *ngFor="
                            let leaguesteam of leagues.teams;
                            let teamIndex = index;
                            first as isFirst
                          "
                          (click)="
                            getTeamLineup(leaguesteam, leagues, collections)
                          "
                        >
                          <option
                            [ngValue]="leagues.teams[teamIndex]"
                            selected
                            >{{ leaguesteam.team_name }}</option
                          >
                        </ng-container>
                      </select>
                    </td>
                    <td
                      class="text-center tableItem"
                      *ngFor="let leaguesteam of leagues.teams"
                    >
                      <span>
                        <span class="font-weight-bold">
                          {{
                            leaguesteam.game_rank ? leaguesteam.game_rank : "--"
                          }} </span
                        >/ {{ leagues.size }}</span
                      >
                    </td>
                    <td
                      class="tableItem"
                      *ngFor="let leaguesteam of leagues.teams"
                    >
                      <span
                        *ngIf="
                          !leaguesteam.won_prize && !leaguesteam.won_merchandise
                        "
                        >--</span
                      >
                      <span
                        *ngIf="leaguesteam.won_prize && leagues.prize_type != 3"
                        ><i class="fas fa-coins ml-2"></i>
                        {{ leaguesteam.won_prize }}
                      </span>
                      <span
                        *ngIf="
                          leaguesteam.won_merchandise && leagues.prize_type == 3
                        "
                      >
                        <img
                          [src]="leaguesteam.won_merchandise"
                          height="30"
                          width="30"
                        />
                      </span>
                    </td>
                    <td class="tableItem">
                      <span class="d-block font-weight-bold">{{
                        leagues.season_scheduled_date | date
                      }}</span>
                      <span class="text-center matchTime">{{
                        leagues.season_scheduled_date | date: "shortTime"
                      }}</span>
                    </td>
                    <td
                      class="tableItem"
                      *ngFor="
                        let leaguesteam of leagues.teams;
                        first as isFirst
                      "
                    >
                      <div></div>
                      <span>{{
                        leaguesteam.total_score ? leaguesteam.total_score : "--"
                      }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              *ngFor="
                let leagues of collections.contests;
                let contestIndex = index
              "
            >
              <div
                class="text-center pt-2 d-flex justify-content-between justify-content-around blue-text"
                *ngFor="
                  let leaguesteam of leagues.teams;
                  let teamIndex = index;
                  let forFirst = first
                "
              >
                <!-- <span *ngIf="forFirst"
                  class="font-weight-bold "
                  (click)="getTeamLineup(leaguesteam, leagues, collections)"
                  [ngClass]="{
                    'activeShowLineupBtn animated bounceIn':
                      btn && checkContest_id.includes(leagues.contest_id)
                  }"
                >
                  Show Lineup</span
                  >-->
                <!-- <router-outlet></router-outlet>-->
                <span
                  class=" text-center"
                  *ngIf="forFirst"
                  (click)="getTeamLineup(leaguesteam, leagues, collections)"
                  [ngClass]="{
                    'activeShowLineupBtn animated bounceIn':
                      btn && checkContest_id.includes(leagues.contest_id)
                  }"
                  >{{ leaguesteam ? "Show Lineup" : "" }}</span
                >

                <a
                  *ngIf="forFirst"
                  (click)="
                    onView(
                      OnViewSelect.selectedlineu_id,
                      leagues.contest_id,
                      collections
                    )
                  "
                  class="font-weight-bold blue-text"
                  >View</a
                >
              </div>
            </div>
          </mdb-card>
          <!-- Card ends -->
          <div
            class="spinner"
            *ngIf="isLoading; else No"
            style="top:50%;
                  left: 45%;"
          ></div>
          <ng-template elseBlock *ngIf="!isPopulated">
            <h4>There is no live league available.</h4>
          </ng-template>
        </div>
      </div>

      <div
        class="spinner"
        *ngIf="isLoading"
        style="top:50%;
        left: 45%;"
      ></div>
      <div></div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-5">
    <div id="{{ device }}" *ngIf="isPopulated">
      

      <div class="pitchadscontainer ">
        <div class="" id="teamName">
          <div
            class="border-bottom teamName px-2"
            style="display: grid; grid-template-columns: 0.5fr 1fr;"
          >
            <div style="display: inline-block;">
              <a
                class="white-text font-weight-bold"
                (click)="backToDetails()"
                *ngIf="isDisabled"
                ><i class="fas fa-arrow-left mr-2 "></i> Back</a
              >
            </div>
            <!--<div>-->
            <span class="text-right">{{ teamInfo.team_name }}</span>
            <!--</div>-->
          </div>
          <div class="row rank">
            <div class="ml-auto mr-3">Rank</div>
            <div class="mr-4">
              {{ teamInfo ? teamInfo.rank + "/" + totalUserJoined : "--" }}
            </div>
          </div>
        </div>

        <div>
          <div class="px-3 mt-1">
            <span class="d-flex align-items-center completed white-text">
              Completed
            </span>
          </div>
        </div>
        <div class="d-flex pt-0">
          <div class="d-flex" id="leftAd">
            <div id="leftAdShadow"></div>
            <div id="leftAdBox">
              <img src="assets/image/bg-1.jpg" alt="" />
            </div>
          </div>

          <div class="d-flex " id="rightAd">
            <div id="rightAdBox">
              <img src="assets/image/bg-1.jpg" alt="" />
            </div>
            <div id="rightAdShadow"></div>
          </div>
        </div>
      </div>
      <!-- 5-4-1 formation -->
      <div class=" pr-0 mr-0">
        <div
          id="pitchBorder"
          class="col-lg-12 px-0 mx-0"
          style="background: url('assets/image/formation_images/mainPitch.png');background-repeat: no-repeat; background-size: 100% 100%; width: 100%; margin-right: 0; padding-right: 0;"
        >
          <!-- Formation 5-4-1 Forward -->
          <div id="FW">
            <ul [ngClass]="fwclass">
              <li *ngFor="let fwdplayer of fwdPlayers; let fwdIndex = index">
                <div
                  *ngIf="
                    fwdPlayers[fwdIndex]['captain'] === '1' ||
                    fwdPlayers[fwdIndex]['captain'] === '2'
                  "
                  class="captainBadge"
                >
                  {{ fwdPlayers[fwdIndex]["captain"] === "1" ? "C" : "VC" }}
                </div>
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img
                      style="width:45px;height: 45px;"
                      src="{{ fwdPlayers[fwdIndex]['jersey'] }}"
                      alt=""
                    />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span
                      class="white-text small d-block playerName"
                      *ngIf="fwdPlayers[fwdIndex]"
                      >{{
                        fwdPlayers[fwdIndex]["nick_name"]
                          ? fwdPlayers[fwdIndex]["nick_name"]
                          : "FW"
                      }}</span
                    >
                    <span
                      class="white-text small d-block playerSalary"
                      *ngIf="currentMatch === 'Upcoming'"
                    >
                      {{
                        fwdPlayers[fwdIndex]["salary"]
                          ? fwdPlayers[fwdIndex]["salary"]
                          : ""
                      }}
                    </span>
                  </div>

                  <!--<span hidden class="white-text small">DEF</span>-->
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 4-4-2 Forward -->

          <!-- Formation 5-4-1 Midfield -->
          <div id="Mid">
            <ul [ngClass]="midclass">
              <li *ngFor="let mfplayer of midPlayers; let mfIndex = index">
                <div
                  *ngIf="
                    midPlayers[mfIndex]['captain'] === '1' ||
                    midPlayers[mfIndex]['captain'] === '2'
                  "
                  class="captainBadge"
                >
                  {{ midPlayers[mfIndex]["captain"] === "1" ? "C" : "VC" }}
                </div>
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img
                      style="width:45px;height: 45px;"
                      src="{{ midPlayers[mfIndex]['jersey'] }}"
                      alt=""
                    />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span
                      class="white-text small d-block playerName"
                      *ngIf="midPlayers[mfIndex]"
                      >{{
                        midPlayers[mfIndex]["nick_name"]
                          ? midPlayers[mfIndex]["nick_name"]
                          : "MF"
                      }}</span
                    >
                    <span
                      class="white-text small d-block playerSalary"
                      *ngIf="currentMatch === 'Upcoming'"
                    >
                      {{
                        midPlayers[mfIndex]["salary"]
                          ? midPlayers[mfIndex]["salary"]
                          : ""
                      }}
                    </span>
                  </div>

                  <!--<span hidden class="white-text small">DEF</span>-->
                </a>
              </li>
            </ul>
          </div>

          <img
            src="assets/image/logo/logo_F.png"
            alt="Sponsor's Logo"
            width="80%"
            height="60%"
            style="position:absolute; top: 0; left: 10%; transform: rotateX(75deg); opacity: 0.7;"
          />
          <!-- /Formation 5-4-1 Midfield -->

          <!-- Formation 5-4-1 Defence -->
          <div id="Def">
            <ul [ngClass]="defclass">
              <li *ngFor="let dfplayer of defPlayers; let dfIndex = index">
                <div
                  *ngIf="
                    defPlayers[dfIndex]['captain'] === '1' ||
                    defPlayers[dfIndex]['captain'] === '2'
                  "
                  class="captainBadge"
                >
                  {{ defPlayers[dfIndex]["captain"] === "1" ? "C" : "VC" }}
                </div>
                <a *ngIf="defPlayers[dfIndex]">
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img
                      style="width:45px;height: 45px;"
                      src="{{ defPlayers[dfIndex]['jersey'] }}"
                      alt=""
                    />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span
                      class="white-text small d-block playerName"
                      *ngIf="playerActive[dfIndex]"
                      >{{
                        defPlayers[dfIndex]["nick_name"]
                          ? defPlayers[dfIndex]["nick_name"]
                          : "DEF"
                      }}</span
                    >
                    <span
                      class="white-text small d-block playerSalary"
                      *ngIf="currentMatch === 'Upcoming'"
                    >
                      {{
                        defPlayers[dfIndex]["salary"]
                          ? defPlayers[dfIndex]["salary"]
                          : ""
                      }}
                    </span>
                  </div>

                  <!--<span hidden class="white-text small">DEF</span>-->
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 5-4-1 Defence -->

          <!-- Formation 5-4-1 Goalie -->
          <div id="goalie">
            <ul class="goalie">
              <li *ngIf="playersArr[0]">
                <div
                  *ngIf="
                    playersArr[0]['captain'] === '1' ||
                    playersArr[0]['captain'] === '2'
                  "
                  class="captainBadge"
                >
                  {{ playersArr["captain"] === "1" ? "C" : "VC" }}
                </div>
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                    class=" my-0 py-0"
                  >
                    <img
                      style="width:45px;height: 45px;"
                      src="{{ playersArr[0]['jersey'] }}"
                      alt=""
                    />
                  </div>
                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName">
                      {{
                        playersArr[0]["nick_name"]
                          ? playersArr[0]["nick_name"]
                          : playersArr[0]["full_name"]
                      }}</span
                    >
                    <span class="white-text small d-block playerSalary">{{
                      playersArr[0]["salary"] ? playersArr[0]["salary"] : ""
                    }}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 5-4-1 Goalie -->
        </div>
      </div>
    </div>
    <!-- Empty Pitch starts -->
    <div id="{{ device }}" *ngIf="!mobileDevice && !isPopulated">
      <div class="pitchadscontainer ">
        <div class="d-flex pt-0">
          <div class="d-flex" id="leftAd">
            <div id="leftAdShadow"></div>
            <div id="leftAdBox">
              <img src="assets/image/bg-1.jpg" alt="" />
            </div>
          </div>

          <div class="d-flex " id="rightAd">
            <div id="rightAdBox">
              <img src="assets/image/bg-1.jpg" alt="" />
            </div>
            <div id="rightAdShadow"></div>
          </div>
        </div>
      </div>
      <!-- 4-4-2 formation -->
      <div class=" pr-0 mr-0">
        <div
          id="pitchBorder"
          class="col-lg-12 px-0 mx-0"
          style="background: url('assets/image/formation_images/mainPitch.png');background-repeat: no-repeat; background-size: 100% 100%; width: 100%; margin-right: 0; padding-right: 0;"
        >
          <!-- Formation 4-4-2 Forward -->
          <div id="FW">
            <ul class="FW-4-4-2">
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>
                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">FW</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">FW</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 4-4-2 Forward -->

          <!-- Formation 4-4-2 Midfield -->
          <div id="Mid">
            <ul class="Mid-4-4-2">
              <li class="">
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">MID</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">MID</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">MID</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">MID</span>
                </a>
              </li>
            </ul>
          </div>

          <img
            src="assets/image/logo/logo_F.png"
            alt="Sponsor's Logo"
            width="80%"
            height="60%"
            style="position:absolute; top: 0; left: 10%; transform: rotateX(75deg); opacity: 0.7;"
          />
          <!-- /Formation 4-4-2 Midfield -->

          <!-- Formation 4-4-2 Defence -->
          <div id="Def">
            <ul class="Def-4-4-2">
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">DEF</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">DEF</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">DEF</span>
                </a>
              </li>
              <li>
                <!-- <div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>

                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>

                  <span hidden class="white-text small">DEF</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 4-4-2 Defence -->

          <!-- Formation 4-4-2 Goalie -->
          <div id="goalie">
            <ul class="goalie">
              <li>
                <!--<div class="captainBadge">C</div>-->
                <a>
                  <div
                    id="player-body"
                    mdbTooltip="M. Sallah"
                    placement="bottom"
                    class=" my-0 py-0"
                  >
                    <img src="assets/image/jersey_mockup.png" alt="" />
                  </div>
                  <div class="playerShadow"></div>
                  <div class="my-0 py-0 playerDetails">
                    <span class="white-text small d-block playerName"></span>
                    <span class="white-text small d-block playerSalary"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Formation 4-4-2 Goalie -->
        </div>
      </div>
    </div>
    <!--Empty Pitch ends -->
  </div>
</div>
