.socialLogin {
    padding: 15px;  
    color: #fff; 

    i {
        margin-right: 15px; font-size: 20px;
    }/* CUSTOMISED SPINNER*/

  /* @media screen and (max-width: 480px) {
  
  .spinner{
    border: 16px solid silver;
    border-top: 16px solid #387AB7;
    border-radius: 50%;
    width:50px;
    height: 50px;
    animation: spin 1000ms linear infinite;
    top:120%;
    left: 50%;
    position:absolute;
  }
  @keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
  } */
  /* END OF CUSTOMISED SPINNER*/
}

.spinner{
    border: 16px solid silver;
    border-top: 16px solid #387AB7;
    border-radius: 50%;
    width:60px;
    height: 60px;
    animation: spin 1000ms linear infinite;
    top:120%;
    left: 50%;
    position:absolute;
  }
  @keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }