<!-- ************* Footer starts **************** -->
<footer class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
              <div class="d-flex justify-content-between align-items-center" (click)='toggleDropdown()'>
                  <div>
                      <span class="d-block" style='color:#566372'>&copy; Copyrights 2019</span>
                      <span class=" font-weight-bold">FANtastic.ng</span>
                  </div>

                  <div class="dropdown-toggle mobileDropdownIcon white-text" [ngClass]='{active: dropdownState}'></div>
              </div>
          </div>
          <!-- <br> -->
          <!--
      <div class="d-flex align-items-center row justify-content-between px-3 col-lg-9">
    -->
          <div class="row col footerNavContainer" [ngClass]='{active: dropdownState}'>

              <div class="col-xs-12 col-sm-12 visible-sm visible-xs">
                  <hr />
              </div>

              <div class=" col-6 col-sm-4 pl-2">
                  <ul class="footer-nav">
                      <li class="d-block font-weight-bold">FANTASY SPORTS</li>

                      <li><a href="" class="d-block my-1 font-weight-bold">About</a></li>
                      <li>
                          <a href="" class="d-block my-1 font-weight-bold">Press & Media</a>
                      </li>
                  </ul>
              </div>

              <div class=" col-6 col-sm-4">
                  <ul class="footer-nav">
                      <li class="d-block font-weight-bold">HELP</li>

                      <li><a href="#" class="d-block my-1 font-weight-bold">Support</a></li>
                      <li>
                          <a href="#" class="d-block my-1 font-weight-bold">How it Works</a>
                      </li>
                      <li>
                          <a href="#" class="d-block my-1 font-weight-bold">Rules & Scoring</a>
                      </li>
                  </ul>
              </div>

              <!-- <p class="col-xs-12 visible-xs">&nbsp;</p> -->

              <div class=" col-6 col-sm-4 pl-2">
                  <ul class="footer-nav">
                      <li class="d-block font-weight-bold">MORE</li>

                      <li>
                          <a href="" class="d-block my-1 font-weight-bold">Testimonials</a>
                      </li>
                      <li>
                          <a href="" class="d-block my-1 font-weight-bold">Terms of Use</a>
                      </li>
                      <li>
                          <a href="" class="d-block my-1 font-weight-bold">Privacy Policy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="footer-bottom" [ngClass]='{active: dropdownState}'>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-10 font-weight-bold">
                  Connect With Us

                  <ul class=" list-inline">
                      <!-- ************** Facebook svg icon starts -->
                      <li class="mr-3">
                          <a href="" target="_blank">
                              <img src="assets/image/Footer-icons/fb-ic.svg" alt="" />
                          </a>
                      </li>
                      <!-- ****************** Facebook svg icon ends ************** -->
                      <li class="mx-3">
                          <!-- ****************** Twitter svg icon starts ************** -->

                          <a href="" target="_blank">
                              <img src="assets/image/Footer-icons/tw-ic.svg" alt="" />
                          </a>
                      </li>
                      <!-- ****************** Twitter svg icon ends ************** -->

                      <!-- ******************* LinkedIn svg icon starts *********** -->

                      <li class="mx-3">
                          <a href="" target="_blank">
                              <img src="assets/image/Footer-icons/linkedin-ic.svg" alt="" />
                          </a>
                      </li>

                      <!-- ******************* LinkedIn svg icon ends *********** -->

                      <!-- ****************** Instagram svg icon starts ************** -->
                      <li class="mx-3">
                          <a href="" target="_blank">
                              <img src="assets/image/Footer-icons/instagram-ic.svg" alt="" />
                          </a>
                          <!-- ****************** Instagram svg icon ends ************** -->
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- ************* Footer ends **************** -->
