
<!--<div class="modal fade" #loginmodal='mdbModal' tabindex="-1" mdbModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex">
        <span>LOGIN</span>
        <div class="ml-auto">
          <span class="mr-5">Not a member?
            <a (click) = "showSignup()" class="red-text ml-2">Sign Up</a>
          </span>
          <span class="close" (click)="loginmodal.hide()">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  id="logininput">
            <div class="md-form ">
              <input type="email" formControlName="email" id="loginemail" class="form-control" [mdbValidate]= "false"  mdbInputDirective>
              <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter a valid email</span>
              <label for="loginemail">Your Email</label>
            </div>

            <div class="md-form ">
              <input  type="password" formControlName="password"  id="password" class="form-control " [mdbValidate]= "false" mdbInputDirective >
              <label for="password">Your Password</label>
              <span *ngIf="!loginForm.get('password').valid && loginForm.touched">Please enter a valid password</span>
            </div>

            <div>
                <div class="spinner" *ngIf="isLoading" style ="top:50%;
                 left: 45%;"></div>
                 <div class="" *ngIf="noNetwork" style ="top:50%;
                 left: 45%;text-emphasis-color: red">...Check your network connection!!</div>
              <div class="d-flex">
                <a href="#" class=' blue-text mt-3 ml-auto'>Forgot password?</a>
              </div>

              <div class="d-flex mt-3">

                <mdb-checkbox [default]="true" formControlName="rememberMe"  class="pt-3">Remember me</mdb-checkbox>


                <button type="submit"  mdbBtn class="relative waves-light ml-auto btn-sm red darken-5"  mdbWavesEffect
                [disabled]="!loginForm.valid">Log in</button>

              </div>

            </div>

          </form>

        </div>
      </div>
      <div class="modal-footer">
        <div class="container d-flex">
          <span class="small align-self-center">or connect instantly with -</span>
          <button class="ml-auto waves-light relative btn-sm indigo" (click)="signInWithFB()" mdbBtn mdbWavesEffect>facebook</button>
          <button class="waves-light relative red btn-sm" (click)="signInWithGoogle()" mdbBtn mdbWavesEffect>google</button>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- Login modal -->
<div class="modal fade" #loginmodal='mdbModal' tabindex="-1" mdbModal>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header d-flex font-weight-bold" style='background-color: #f4f4f4'>
        <span>LOGIN</span>
        <div class="ml-auto">
          <span class="mr-5 small font-weight-bold">Not a member?
            <a class="blue-text" (click) = "showSignup()" >Sign Up</a>
          </span>
          <span class="close" (click)="loginmodal.hide()">&times;</span>
        </div>
      </div>
      <div class="modal-body pb-3">
        <div class="container">
          <!-- Facebook and google buttons  starts -->
          <button class="waves-light relative  d-block mx-auto  socialLogin"
          (click)="signInWithGoogle()"  mdbBtn mdbWavesEffect id="btn" style='background-color: #DB4437; padding: 15px;'><i class="fab fa-google-plus-g" style='margin-right: 15px; font-size: 20px;'></i>Log in with
            Google</button>
          <button class="waves-light relative indigo mt-3  d-block mx-auto  socialLogin"
          (click)="signInWithFB()" mdbBtn mdbWavesEffect id="btn" style='padding: 15px;'>
            <i class="fab fa-facebook-f" style='margin-right: 15px; font-size: 20px;'></i>Log in with facebook</button>

            <!-- Facebook and google buttons end -->

          <div class="d-flex align-items-center" style='margin-top: 26px;'>
            <span class="or"></span>
            <span class="px-2">or</span>
            <span class="or"></span>
          </div>

          <!-- Input form starts -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="md-form ">
              <input formControlName="email" type="email" id="loginemail" class="   form-control" [mdbValidate]= "false" mdbInputDirective>
              <span style="color:red; border-color: black;" class="small" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter a valid email</span>
              <span   style="color:red; border-color: black;" class="small" *ngIf="loginError.email">{{loginError.email}}</span>
              <label for="loginemail">Your Email</label>
            </div>

            <div class="md-form ">
              <input formControlName="password" type="password" id="password" class="    form-control " [mdbValidate]= "false" mdbInputDirective>
              <label for="password">Your Password</label>
              <span style="color:red; border-color: black;" class="small" *ngIf="!loginForm.get('password').valid && loginForm.touched">Please enter a valid password</span>
              <span   style="color:red; border-color: black;" class="small" *ngIf="loginError.password">{{loginError.password}}</span>
            </div>
            <div class="spinner" *ngIf="isLoading" style ="top:50%;
            left: 45%;"></div>
            <div class="" *ngIf="noNetwork &&
             (this.loginError.email === '' || this.loginError.password=== '') && !isLoading"
             style ="top:50%;
            left: 45%;text-emphasis-color: red">...Check your network connection!!</div>

            <div>
                <div class="d-flex">
                  <a href="#" class=' blue-text mt-3 ml-auto font-weight-bold'>Forgot password?</a>
                </div>
                <div class="d-flex mt-3">

                  <mdb-checkbox [default]="false" formControlName="rememberMe" class="pt-3">Remember me</mdb-checkbox>


                  <button class="waves-light relative red  d-block ml-auto py-2"
                  [disabled]="!loginForm.valid" mdbBtn mdbWavesEffect id="btn">Log in</button>


                </div>


              </div>

          </form>

          <!-- Input form ends -->




        </div>
      </div>
    </div>
  </div>
</div>

<!-- login modal ends -->
