<bs-navbar></bs-navbar>
<app-token-modal></app-token-modal>
<!-- <h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <a href="#">View</a>
      </td>
    </tr>
  </tbody> 
</table> -->
<div class="main">

  <!-- Page title starts -->
  <div class='orderHistory'>
      <h3>Order History</h3>
  </div>
  <div class="orderList">
      <!-- Page title ends -->

      <!-- Order list White background starts -->
      <div class="orderWhiteBackground">
          <ng-container *ngIf="orders$;elseTemp">
            
          <div class="row" *ngFor='let order of orders$ | async '>
              <div class='orderDay'>

                  <!-- Single order starts -->
                  <div class="col-sm-12 col-lg-12 singleProductCard">
                      <div class=' d-flex orderDetails'>
                          <div class="productImageContainer">
                              <img [src]="order.imageUrl" alt="{{order.title}} Image">
                          </div>

                          <div class="productInfoContainer">
                              <div class="productName">{{order.title}}</div>
                              <div class="productPrice">{{order.price}} COINS</div>
                              <div class="d-flex align-items-center">
                                  <div class="productQuantity">Qty: 1</div>
                                  <span class="orderDate ml-auto">{{order.dateCreated | date}}</span>
                              </div>

                          </div>
                      </div>

                      

                      <div class="d-flex justify-content-between pt-2">
                            <div class="rateProductBtn">
                                    <a (click)='rateProduct.show()'>Rate product</a>
                                </div>
                            <button class="m-0 px-3 py-2 waves-light relative btn-sm"
                             mdbBtn mdbWavesEffect 
                             style='white-space: nowrap; background-color: #D90000;'
                             (click)='show(order)'>Buy Again</button>
                      </div>
                      
                  </div>
                  <!-- Single order ends -->

              </div>

          </div>
        </ng-container>
    <ng-container #elseTemp>
          <p class='text-center pt-4'> You have not ordered any item yet</p>
    </ng-container>
      </div>

      <!-- Product rating modal starts -->
      <div class="modal fade" tab-index='-1' mdbModal #rateProduct='mdbModal'>
          <div class="modal-dialogue">
              <div class="modal-content">
                  <div class="modal-header d-flex">
                      <h3>Rate Product</h3>
                      <span class="close " (click)='rateProduct.hide()'>&times;</span>
                  </div>

                  <div class="modal-body">
                      <span class='modalProductName'>Product Name</span>
                      <div class='d-flex justify-content-between' id='starContainer'>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                      </div>
                  </div>

                  <div class="modal-footer text-center d-block">
                      <span (click)='rateProduct.hide()'>Done</span>
                  </div>
              </div>
          </div>
      </div>
      <!-- Product rating modal ends -->

      <!-- Confirm poduct purchase starts -->
      <div class='modal fade' tabindex="-1" mdbModal #productModal='mdbModal'>
            <div class="modal-dialogue modal-md">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5>Buy product</h5>
                        <span class='ml-auto close' (click)='productModal.hide()'>&times;</span>
                    </div>
        
                    <div class="modal-body">
                        <div>
                            <div class='productInfoTop'>
                                <img [src]="order?.imageUrl" alt="Product Image">
        
                                <!-- Product brief info starts -->
                                <div>
                                    <div class="productName">{{order?.title}}</div>
                                    <div class="productRatingsContainer">
                                        <div class='productStars'>
                                      
                                              <i style = "color: #ffd439;"  class="fa fa-star" aria-hidden="true"></i>
                                              <i style = "color: #ffd439;"  class="fa fa-star" aria-hidden="true"></i>
                                              <i style = "color: #ffd439;"  class="fa fa-star" aria-hidden="true"></i>
                                              <i style = "color: #ffd439;"  class="fa fa-star" aria-hidden="true"></i>
                                              <i style = "color: #ffd439;"  class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        
                                    </div>
                                    <div class="productPrice">{{order?.price}} coin(s)</div>
                                </div>
                                <!-- Product brief info ends -->
                            </div>
        
                            <div class="productDescription">
                                <span class="descriptionTitle">description</span>
                                <p>{{order?.description}}</p>
                                <div (click)="onReadMore()" class='readMore' *ngIf="more">
                                    Read More
                                </div>
                            </div>
        
                            <!-- Confirm purchase button starts -->
                            <div class='purchaseBtnContainer'>
                                <button  mdbBtn mdbWavesEffect [disabled]='disabled'
                                (click)="confirmPurchase (order)"
                                class="waves-light relative font-weight-bold mx-auto bg-primary">
                                    Confirm Purchase
                                </button>
                            </div>
                            <!-- Confirm purchase button ends -->
        
                            
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
      <!-- Confirm poduct purchase ends -->
  </div>
</div>
<app-modal-alert (close)="closeAlert()" [deviceType] ="deviceService.isMobile()" [message] = "message" [tag]="tag" *ngIf="message" ></app-modal-alert>
