//Media query for medium screens
@mixin for-md {
  @media (min-width: 768px) {
    @content;
  }
}

// Media query size for low Resolution Tablets, Mobiles (Landscape)
@mixin for-landscape-phone-only {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

.main {
  min-height: 600px;
}
.banner-container {
height: 141px;
}
#profilePictureHolder {
  position: relative;
  top: 4vh;

  @include for-landscape-phone-only {
      top: 4vh;
  }

  @include for-md {
      top: 8vh;
  }
}
img {
height: 20%;
width: 20%;
border-radius: 50%;

@include for-md {
    height: 15%;
    width: 15%;
}
}

.banner-container {
h4 {
  color: #858585;
}
span {
  color: #78b647;
}
button {
  background-color: #78b647;
}
}
.bottom-top {
padding-top: 13%;

@include for-landscape-phone-only {
    padding-top: 14%;
}

@include for-md {
    padding-top: 10%;
}
}
.details {
color: #858585;
}
.bottom-bottom {
width: 90%;
margin: 0 auto;
background: #fff;
padding-top: 30px;
padding-bottom: 30px;
}
.formsection {
  @include for-md {
      width: 50%;
      margin: 0 auto;
  }
}
.username {
  padding-left: 0px;

  li:first-child:after {
      @include for-md {
      display: inline-block;
      content: '';
      width: 5px;
      height: 5px;
      background: #868686;
      margin-left: 20px;
      vertical-align: middle;
      }

  }
  li {
      display: block;
      padding: 5px 8px;
      font-size: 14px;
  @include for-md {
      display: inline-block;
  }
}
}

