<!-- <div  class="modal fade" tabindex="-1" mdbModal #getToken='mdbModal' [ngClass]="{desktop: !deviceService.isMobile()}">
  <div class="modal-dialog" [ngClass]="{desktopModal: !deviceService.isMobile()}">
      <div class="modal-content">
          <div class="modal-header d-flex">
              <h3>Get Tokens</h3>
              
              <span class="close ml-auto" (click)='close()' aria-label="Close" >&times;</span>
          
          </div>

          <div class="modal-body">
           
                  <div class="d-flex justify-content-around">
                      <div (click)="calculateToken('reduce')"  class='tokenAmountControllers'><i class="fas fa-minus"></i></div>
                      <input type="number" value="{{tokenObj.unit}}" class='w-50 tokenAmountInput'>
                      <div (click)="calculateToken('increase')" class='tokenAmountControllers'><i class="fas fa-plus"></i></div>
                  </div>

                  <button type="button" (click)="buyToken()" class="waves-light relative w-100 mt-5 d-flex justify-content-center"
                   mdbBtn mdbWavesEffect style="background-color: #22C61E" [disabled] = "disabled">
                    Pay N{{tokenObj.price*tokenObj.unit}}

                    <div class="ml-3 spinner1" [ngClass]="{spinner1: disabled}" ></div>
                   
                  </button>
            
              <div class="col-md-9 text-right mt-3 ">
                  <label for="paystacklogo" class="mr-2 small">Secured by:</label>
                  <img id="paystacklogo" src="https://paystack.com/assets/website/images/logo.svg" alt="" style="background-color: lightgray;padding: 0px 10px;padding-top: 10px; padding-bottom: 10px;">
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="backdrop" *ngIf="message"></div>
<div  [ngClass]="{mobile: deviceType}" class="alert-box" *ngIf="message">
    <div class="alert-head">
        <h3 class="">Get <img src='assets/image/coin_img/Token_small.png' height="30px"></h3>
        <div class="alert-box-actions">
            <span (click)='close()' style="cursor: pointer; font-size: 2em;">&times;</span>
        </div>
    </div>

    <div class="alert-body">
        <form  >
            <div class="d-flex justify-content-around"  >
                <div (click)="calculateToken('reduce')"  class='tokenAmountControllers'><i class="fas fa-minus"></i></div>
                <input type="number" value="{{tokenObj.unit}}"  class='w-50 tokenAmountInput'>
                <div (click)="calculateToken('increase')"  class='tokenAmountControllers'><i class="fas fa-plus"></i></div>
            </div>

            <button  (click)="buyToken()" class="waves-light relative w-100 mt-5 m-0 white-text" mdbBtn 
            mdbWavesEffect style="background-color: #22C61E"  [disabled] = "disabled"> 
            <div class="ml-3 spinner1" [ngClass]="{spinner1: disabled}" ></div>
            Pay N{{tokenObj.price*tokenObj.unit}}
         </button>
        </form>
        <div class="col-md-9 text-right mt-5 ">
            <label for="paystacklogo" class="mr-2 small">Secured by:</label>
            <img id="paystacklogo" src="https://paystack.com/assets/website/images/logo.svg" alt="" style="background-color: lightgray;padding: 0px 10px;padding-top: 10px; padding-bottom: 10px;">
        </div>
    </div>
</div>
