<div class="main">

  <!-- Single game day section starts -->
  <div class='singleGameDay'>

      <!-- Game date starts -->
      <div class="gameDate">
          <div class="containers">
              <span style='font-variant: small-caps;
            font-size: 14px;
            font-weight: 600;'>10/8</span>
          </div>

      </div>
      <!-- Game date ends -->

      <!-- Game list section starts -->
      <div class="gameList">
          <ul>
              <li>

                  <div class="containers">
                      <!-- Single game header starts -->
                      <div class='singleGameHeader d-flex justify-content-between'>
                          <span class="small gameTime">12:30</span>
                          <span class="small gamePrize">Prize: 1 coin</span>
                      </div>
                      <!-- Single game header ends -->

                      <!-- Single game body starts -->
                      <div class='singleGameBody'>


                          <!-- Single game teams starts -->
                          <div class="singleGameTeams">
                              <span class="homeTeam">West Ham</span>
                              <span class="awayTeam">Man City</span>
                          </div>
                          <!-- Single game teams ends -->

                          <!-- Action buttons starts -->
                          <div class="actionBtnsContainer">
                              <button class="actionBtn selectedBtn">Home</button>
                              <button class="actionBtn">Draw</button>
                              <button class="actionBtn">Away</button>
                          </div>
                          <!-- Action buttons ends -->
                      </div>
                      <!-- Single game body ends -->
                  </div>

              </li>
          </ul>
      </div>
      <!-- Game list section ends -->
  </div>
  <!-- Single game day section ends -->
</div>
