
li:hover {
  background: #4caf50;
  color: white;
  transition: 0.3s;
}
#user-icon {
  font-size: 35px;
}
#dropdown-menu {
  position: absolute;
  left: -90px;
}

#card-text {
  max-width: 400px;
  min-height: 245px;
}
#league-image {
  max-width: 349.33px;
  height: 150px;
  padding: 5px 10px 15px;
}


.text-info {
  padding: 0px 20px 15px;
}
#sponsor-img {
  max-width: 54px;
  max-height: 40px;
}
#sponsor-box {
  max-width: 349.33px;
  max-height: 19px;
  margin-top: 0;
}
#premLeague {
  width: 180px;
  height: 90px;
}
#laliga {
  width: 190px;
  height: 71px;
}
#bundesLiga {
  width: 160px;
  height: 62px;
}
#ligue1 {
  width: 60px;
  height: 100px;
}
#serieA {
  width: 190px;
  height: 150px;
}
