<!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/fanshop">
      <i class="fa fa-leaf" aria-hidden="true"></i>
    </a>
    <button mdbDropdownToggle class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/fanshop/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fanshop/login">Fanshop</a>
          </li>
        </ng-template>
        <li mdbDropdown  *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a dropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<!-- Header starts -->

<nav class="navbars  " [ngClass]='{active: navbars}' #dropdown>
  <div class="containers">

      <div>
          <div class='menu-logo-navlinks-container'>
              <div class="menu-label-container">
                  <span class="fas fa-bars" (click)='showMenu()'></span>
                  <div class="nav-logo">
                      <a>
                          <img routerLink="['/home']" (click) = "onNavigate('home')"
                          src="assets/image/logo/logo.png" alt="Fantastic.ng logo" />
                      </a>
                  </div>
              </div>

              

              <ul class="navbar-navs" [ngClass]='{active: menu}' #dropdownMenu>
                  <li  (click)="onNavigate('fanshophome')"  >
                      <a class = "dropdown-item"    [ngClass]="{active: isActive.includes('fanshophome')}" >Fanshop Home</a>
                  </li>
                  <li  (click)="onNavigate('oderhistory')"  >
                      <a class = "dropdown-item"    [ngClass]="{active: isActive.includes('oderhistory')}" >Order History</a>
                  </li>
                  <li>
                      <a class = "dropdown-item"  >My wishlist</a>
                  </li>
                
                  <ng-container >
                    <li (click)="onNavigate('manageoders')"  [ngClass]="{active: isActive.includes('manageoders')}"><a class="dropdown-item " >Manage Orders</a></li>
                     <li (click)="onNavigate('manageproducts')"   [ngClass]="{active: isActive.includes('manageproducts')}"><a class="dropdown-item " >Manage Products</a></li>
                  </ng-container>
              </ul>

              
          </div>
      </div>


      <div class='column-2 d-flex'>

          <!-- shopping cart icon starts -->
          <div class='shoppingDCartContaier'>
              <i class="fas fa-shopping-cart"></i>
              <span class="cartQuantity">0</span>
          </div>

          <!-- shopping cart icon ends -->

         
          <!-- Dropdown for navbar in mobile view starts -->
          <div class="dropdown" id="Mobiledropdown" dropdown>
              <div class="" dropdownToggle id="dropdownBtn">
                  <div class="user-info">
                      <div class="d-block" style='white-space: nowrap;'>
                          <span class="font-weight-bold">Arinze Okorji</span>
                      </div>
                      <div>
                          <span class='font-weight-bold'> <i class="fas fa-coins pr-2"></i>60 / </span>
                          <span class="green-text">{{userbalance.point_balance}}</span>
                      </div>
                  </div>
                  <div class="align-self-center ml-2 justify-content-center" id="user-icon-border">
                      <!-- <i class="fas fa-user" id="user-icon"></i> -->
                      <img src="assets/image/default_user.png" alt="" id="user-icon" />
                  </div>
              </div>

              <div class="dropdown dropdown-menu dropdown-primary" id="dropdown-menu" *dropdownMenu style="z-index: 2000; width: 250px">
                  <section class="dropdown-menu-top grey lighten-4">
                      <div class="d-flex">
                          <div class="pr-3 mr-2 ml-3">
                              <span class="d-block small">Balance</span>
                              <span class="green-text">{{userbalance.point_balance}}</span>
                          </div>
                          <button class="green mb-3 ml-auto mr-3 mt-2 p-2 px-3 btn-in-user-dropdown" size="sm" mdbBtn>
                    ADD FUNDS
                  </button>
                      </div>

                      <div class="d-flex">
                          <div class="pr-1 mr-2 ml-3">
                              <span class="d-block small">Buy Coins</span>

                              <i class="fas fa-coins mr-2"></i>
                              <span class="font-weight-bold green-text">53</span>
                          </div>

                          <button routerLink='../how-to-earn-coins' class="green mb-4 ml-auto mr-3 mt-2 p-2 px-2 btn-in-user-dropdown" size="sm" mdbBtn>
                    COIN DETAILS
                  </button>
                      </div>
                  </section>
                  <div class="dropdown-divider"></div>
                  <section class="dropdown-menu-bottom">
                      <div class="list-group list-group-flush ">
                    
                  <a routerLink='../profile' class="list-group-item py-2" id="dropdownlink">Profile</a>
                          <a href="" class="list-group-item py-2 d-flex justify-content-between" id="dropdownlink">Notification
                    <span class="badge badge-success badge-pill align-self-center"
                      >1</span
                    >
                  </a>
                          <a (click)="logout()" class="list-group-item pt-2 pb-0" id="dropdownlink" routerLink=''>Logout</a>
                      </div>
                  </section>
              </div>
          </div>
          <!-- Dropdown for navbar in mobile view ends -->
      </div>

  </div>


</nav>
<!-- Header ends -->