<!--HEADER HTML-->
<nav>
    <mdb-navbar SideClass="navbar navbar-expand-sm navbar-light py-3 d-flex">
      <mdb-navbar-brand>
        <a href="#" class="navbar-brand">
          <img src="logo-main-inner.png" alt="">
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="#" class="nav-link waves-light" mdbWavesEffect>HOME</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-light" mdbWavesEffect>LOBBY</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link waves-light" mdbWavesEffect>LEADERBOARD</a>
          </li>
        </ul>

        <div class="dropdown  ml-auto align-self-center" dropdown>

          <div class="d-flex" dropdownToggle>
            <div>
              <div class="d-block">
                <span class="font-weight-bold">Arinze Okorji</span>
              </div>
              <div>
                <span>
                  <i class="fas fa-coins pr-3"></i>60/
                </span>
                <span class="green-text">N200</span>
              </div>
            </div>
            <div class="align-self-center">
              <i class="fas fa-user pl-3" id="user-icon"></i>
            </div>
          </div>

          <div class="dropdown dropdown-menu dropdown-primary" *dropdownMenu>
            <section class="dropdown-menu-top grey lighten-4">
              <div class="d-flex">
                <div class="pr-3 mr-2 ml-3">
                  <span class="d-block small">Balance</span>
                  <span class="green-text">N200</span>
                </div>
                <button class="green mb-4 ml-5 mr-3 mt-2 py-0" size="sm" mdbBtn>ADD FUNDS</button>
              </div>

              <div class="d-flex mt-3">
                <div class="pr-1 mr-2 ml-3">
                  <span class="d-block small">Buy Coins</span>

                  <i class="fas fa-coins mr-2"></i>
                  <span class="font-weight-bold green-text">53</span>
                </div>

                <button class="green mb-4 ml-5 mr-3 mt-2 p-2" size="sm" mdbBtn>COIN DETAILS</button>
              </div>

            </section>
            <div class="divider dropdown-divider"></div>
            <section class="dropdown-menu-bottom">
              <ul class="list-group list-group-flush ">
                <li class="list-group-item">My Account</li>
                <li class="list-group-item">Profile</li>
                <li class="list-group-item d-flex justify-content-between">Notification <span class="badge badge-success badge-pill align-self-center">1</span></li>
                <li class="list-group-item">Logout</li>
              </ul>
            </section>
          </div>
        </div>
      </links>


    </mdb-navbar>
  </nav>
  <!--<app-newlobby></app-newlobby>-->


  <!--END OF HEADER HTML-->
