@mixin for-portrait-phone-only {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}
@mixin for-sm {
  @media (min-width: 576px) {
    @content;
  }
}

// Media query size for low Resolution Tablets, Mobiles (Landscape)
@mixin for-landscape-phone-only {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

//Media query for Tablets, Ipads (portraits)
@mixin for-portrait-tablet-and-ipad-only {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin for-md {
  @media (min-width: 768px){
    @content;
  }
}
@mixin for-lg {
  @media (min-width: 992px){
    @content;
  }
}
@mixin for-xl {
  @media (min-width: 1200px){
    @content;
  }
}

//Media query for Tablets, Ipads (landscape)
@mixin for-landscape-tablet-and-ipads-only {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

//Media query Laptops, Desktops
@mixin for-laptop-and-desktop-only {
  @media (min-width: 1025px) {
    @content;
  }
}

//Desktop navbar starts
//mdb navbar-brand starts

#navbar-logo {
  @include for-portrait-phone-only {
    float: right;
    position: absolute;
    right: 100px;
    align-self: center;
  }
  @include for-landscape-phone-only {
    float: right;
    position: absolute;
    right: 200px;
    align-self: center;
  }
  @include for-portrait-tablet-and-ipad-only {
    float: right;
    position: absolute;
    right: 200px;
    align-self: center;
  }
  @include for-landscape-tablet-and-ipads-only {
    float: none;
    right: 0px;
    position: relative;
    align-self: center;
    margin-left: -35px;
    margin-right: 20px;
  }
  @include for-laptop-and-desktop-only {
    margin-left: -95px;
    margin-right: 20px;
  }
}

//desktop navbar logo starts
#logo_Desktop {
  @include for-portrait-phone-only {
    display: block;
    margin-left: -150px;
  }
  @include for-landscape-phone-only {
    display: block;
    margin-left: -230px;
  }
  @include for-portrait-tablet-and-ipad-only {
    margin-left: -265px;
  }
  @include for-landscape-tablet-and-ipads-only {
    margin-left: 0px;
  }
  width: 133px;
  height: 20px;
  @include for-laptop-and-desktop-only {
    width: 200px;
    height: 30px;
  }
}

//Logo on mobile starts
#logo_Mobile {
  display: none;
  @include for-portrait-phone-only {
    max-width: 30px;
    max-height: 60px;
    margin-left: -115px;
    display: block;
  }
  @include for-landscape-phone-only {
    max-width: 30px;
    max-height: 60px;
    margin-left: -215px;
    display: block;
  }
}
//animation for navbar links starts
#nav-link {
  color: #333;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 4px solid transparent;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  @include for-landscape-tablet-and-ipads-only {
    position: relative;
    top: 10px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  @include for-laptop-and-desktop-only {
    position: relative;
    top: 10px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
#nav-link:hover {
  @include for-landscape-tablet-and-ipads-only {
    animation: navLink 0.3s ease forwards;
  }
  @include for-laptop-and-desktop-only {
    animation: navLink 0.3s ease forwards;
  }
}

@keyframes navLink {
  to {
    border-bottom: 4px solid #419bf9;
  }
}

#nav-link.active {
  border-bottom: 4px solid #419bf9;
}

//animation for navbar links ends

//USER MENU STARTS

//Mobile navbar
#Mobiledropdown1 {
  display: none;
  @include for-portrait-phone-only {
    display: block;
    margin-right: -85px;
  }
  @include for-landscape-phone-only {
    display: block;
    margin-right: -185px;
  }
  @include for-portrait-tablet-and-ipad-only {
    display: block;
    margin-right: -185px;
    position: relative;
    bottom: 5px;
  }
  @include for-landscape-tablet-and-ipads-only {
    display: none;
  }
}

//right user icon on desktop starts
#dropdown {
  @include for-portrait-phone-only {
    display: none;
  }
  @include for-landscape-phone-only {
    display: none;
  }
  @include for-portrait-tablet-and-ipad-only {
    display: none;
  }
  @include for-landscape-tablet-and-ipads-only {
    display: block;
    margin-right: -30px;
  }
  @include for-laptop-and-desktop-only {
    margin-right: -100px;
  }
}

//pointer cursor for DesktopNavbar starts
#dropdownBtn:hover {
  cursor: pointer;
}

//USer info for user dropdown button
.user-info {
  @include for-portrait-phone-only {
    display: none;
  }
  @include for-landscape-phone-only {
    display: none;
  }
}

// User icon in top right of desktop headers starts
#user-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  @include for-portrait-phone-only {
    height: 31px;
    width: 31px;
  }
  @include for-landscape-phone-only {
    height: 31px;
    width: 31px;
  }
  @include for-portrait-tablet-and-ipad-only {
    height: 44px;
    width: 44px;
  }
}

// border around user icon starts
#user-icon-border {
  border: solid 1px rgb(218, 218, 218);
  border-radius: 50%;
  padding: 8px 8px;
  @include for-sm {
    position: relative;
    bottom: 3px;
  }
  @include for-md {
    padding: 0;
  }

}

// border around user icon when hovering starts
#user-icon-border:hover {
  border: solid 1px rgb(107, 195, 253);
}

// Dropdown menu starts
// Desktop navbar user dropdown menu on the right side of navbar starts
#dropdown-menu {
  position: absolute;
  left: -110px;
  @include for-portrait-phone-only {
    left: -190px;
  }
  @include for-landscape-phone-only {
    left: -190px;
  }
  .btn-in-user-dropdown {
    width: 100px;
  }
}

//  Links in user dropdown starts
a#dropdownlink {
  color: #777;
  font-weight: normal;
  font-size: 14px;
}
#dropdown #dropdownlink:hover {
  background: #4caf50;
  color: white;
  transition: 0.3s;
}

.dropdown-menu-top {
  height: 107px;
}

//USER MENU ENDS

/////======HEADER ENDS=======/////



.navbars {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  padding: 0 10px;
  padding-top: 8px;
  padding-bottom: 0.5rem;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  @include for-md {
    padding-top: 5px;
  }
}

@-webkit-keyframes navbars {
  /* 50% {
   height: 175px;
  } */
  0% {
    height: 70px;
  }
  /* 50% {
    height: 175px;
   } */

  100% {
    height: 350px;
  }
}
@-webkit-keyframes navbars-pull-up {
  50% {
    height: 175px;
   }
   100% {
     height: auto;
   }
}
.navbars.active {
  /* height: 20em; */

  animation: navbars 0.5s forwards;
}
.navbars.deactivate {
  height: 175px;
  animation: navbars-pull-up 0.5s forwards;
}

.containers {
  display: grid;
  grid-template-columns: 2.9fr 1fr;


  @include for-sm {
    grid-template-columns: 1.9fr 1fr;
  }
  @include for-md {
    grid-template-columns: 1.5fr 1fr;

    padding-left: 10px;
  }
  @include for-lg {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 4fr 1fr;
    align-items: end;
  }
}
.nav-logo {
    display: inline-block;
    /* margin-left: 33%; */
    margin-left: auto;


    @include for-lg {
      margin-left: 0;
    }

    img {
      width: 190px;
      height: 32px;

      @include for-md {
        width: 180px;
        height: 30px;
      }
    }
}
.navbar-navs {
  list-style: none;
  display: none;
  position: relative;
  padding-left: 0;
  @include for-lg {
    display: inline-block;
    padding-left: 15px;
  }

  li {
    margin-top: 20px;
    margin-bottom: 20px;
    @include for-lg {
      margin: auto;
      display: inline-block;
    }
  }
}
.navbar-navs.active {
  display: block;
  height: auto;


  animation: navbar-navs 1s forwards;
}

@keyframes navbar-navs {
  0% {
    display: none;
  }
  100% {
    display: block;
    height: auto;
  }
}

.menu-label-container {
  display: flex;
  align-items: center;

  @include for-lg {
    display: inline-block;
  }
}
span.fa-bars {
  font-size: 24px;

  @include for-lg {
    display: none;
  }
}
#nav-links {
  color: #333;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 4px solid transparent;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  @include for-lg {
    position: relative;
    height: 15px;
    padding-top: 0px;
    padding-bottom: 19px;
  }
  /* @include for-laptop-and-desktop-only {
    position: relative;
    top: 10px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
  } */
}
#nav-links:hover {
  @include for-landscape-tablet-and-ipads-only {
    animation: navLinks 0.3s ease forwards;
  }
  @include for-laptop-and-desktop-only {
    animation: navLinks 0.3s ease forwards;
  }
}

@keyframes navLinks {
  to {
    border-bottom: 4px solid #419bf9;
  }
}

#nav-links.active {
  @include for-lg {
    border-bottom: 4px solid #419bf9;
  }

}
.menu-logo-navlinks-container {
  padding-top: 10px;

  @include for-sm {
    padding-top: 10px;
  }

  @include for-md {
    padding-top: 10px;
  }
}

#notfication-friends-list {
  display: none;
  margin-bottom: 0;
  align-self: center;
  @include for-xl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 0 7px;

    i {
      font-size: 24px;
    }
  }
  }
}

.column-2 {
  align-items: end;
  /* @include for-lg {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;

  } */
  @include for-xl {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 269px;
  }

  @include for-landscape-tablet-and-ipads-only
}

//right user icon on desktop starts
#dropdown {
  @include for-portrait-phone-only {
    display: none;
  }
  @include for-landscape-phone-only {
    display: none;
  }
  @include for-portrait-tablet-and-ipad-only {
    display: none;
  }
  @include for-landscape-tablet-and-ipads-only {
    display: block;
    margin-right: -30px;
  }
  @include for-laptop-and-desktop-only {
    margin-right: -100px;
  }
}

//pointer cursor for DesktopNavbar starts
#dropdownBtn:hover {
  cursor: pointer;
}

//USer info for user dropdown button
.user-info {
  width: max-content;
  @include for-portrait-phone-only {
    display: none;
  }
  @include for-landscape-phone-only {
    display: none;
  }
}

// User icon in top right of desktop headers starts
#user-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  @include for-portrait-phone-only {
    height: 31px;
    width: 31px;
  }
  @include for-landscape-phone-only {
    height: 31px;
    width: 31px;
  }
  @include for-portrait-tablet-and-ipad-only {
    height: 44px;
    width: 44px;
  }
}

// border around user icon starts
#user-icon-border {
  border: solid 1px rgb(218, 218, 218);
  border-radius: 50%;
  padding: 8px 8px;
  @include for-sm {
    position: relative;
    bottom: 3px;
  }
  @include for-md {
    padding: 0;
  }

}

// border around user icon when hovering starts
#user-icon-border:hover {
  border: solid 1px rgb(107, 195, 253);
}

// Dropdown menu starts
// Desktop navbar user dropdown menu on the right side of navbar starts
#dropdown-menu {
  position: absolute;
  left: -200px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  @include for-sm {
    left: -200px;
  }
  @include for-md {
    left: -120px;
  }
  @include for-lg {
    left: -100px;
  }
  /* @include for-md {
    left: -200px;
  } */
  .btn-in-user-dropdown {
    width: 100px;
  }
}

//  Links in user dropdown starts
a#dropdownlink {
  color: #777;
  font-weight: normal;
  font-size: 14px;
}
#dropdown #dropdownlink:hover {
  background: #4caf50;
  color: white;
  transition: 0.3s;
}

#Mobiledropdown {
  display: inline-block;
  float: right;
  @include for-lg {
    display:inline-block;
  }


}

#blueBorderBottom {
  border-bottom: 4px solid transparent;
  padding-bottom: 15px;

  @include for-lg {
    height: 15px;
     padding-bottom: 17px;
  }


}
#blueBorderBottom:hover {
  border-bottom: 4px solid #419bf9;
}

.notificationBell {
  position: relative;

  i.makeBlue {
    color: #419bf9;
  }
}


















/* Get token modal starts */

.tokenAmountInput {
  background-color: #e9ecef;
  border: none;
  text-align: center;
  font-size: 23px;
  border-radius: 8px;
  font-size: 23px;
}

.tokenAmountControllers {
  border: 1px solid #585858;
  padding: 10px 15px;
  border-radius: 8px;
}

.modal-dialog {
  position: absolute;
  bottom: 0;
}
 .desktop {
   top:10vh;
  left:30vw;
  width: 40vw;
 }
 .desktopModal {
  top:5vh;
// left:20vw;
//  width: 50vw;
}


/* Get token modal ends */