@mixin for-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin for-lg {
    @media screen and (min-width: 996px) {
        @content;
    }
}


/* Variables starts */

$lightGreenBackground: #ecfaec;
$fantasticRed: #d90000;

/* Variables ends */

* {
    outline: none;
}

/* .gradientLayer {
    //background-color: rgba(0, 0, 0, 0.48);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.9));
    height: 100%;
    @include for-md {}
    @include for-lg {
        background-image: unset;
    }
} */

.innerContainer {
    height: 100%;
    width: 100%;
    padding-top: 7%;
    z-index: 999;
    @include for-lg {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
        padding-top: 0;
    }
}


/* First section content starts */

.firstSection {
    background-position-x: 55%; 
    background-size: cover; 
    text-shadow: 2px 2px #000;
    background-repeat: no-repeat;
    height: 100%;
    /* @include for-md {
        height: 94% !important;
    } */
    @include for-lg {
        height: 97% !important;
    }
}

.firstSectionContent {
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 25%;
    padding: 0 9%;
    text-align: center;
    padding-top: 28px;
    width: 100%;
    h3 {
        color: white;
        line-height: 140%;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 800;
        @include for-md {
            font-size: 41px;
        }
        @include for-lg {
            font-size: 41px;
        }
    }
    @include for-md {
        padding-top: 45px;
        height: 33%;
    }
    @include for-lg {
        background-color: unset;
        position: unset;
        z-index: unset;
        height: unset;
        padding: unset;
        padding-top: unset;
        width: 50%;
        text-align: unset;
        /* margin-top: 120px; */
    }
    button.joinBtn {
        @include for-lg {
            margin-top: 20px;
        }
    }
}


/* First section content ends */

.homePageNavbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    img {
        // padding: 5px 10px;
        background-color: #fff;
        width: 200px;
        @include for-lg {
            width: 200px;
        }
    }
    @include for-md {
        max-width: 960px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    @include for-lg {
        max-width: 1140px;
    }
}

.customBtn {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-transform: uppercase;
}


/* Log in button starts */

.loginBtn {
    border: 1px solid $fantasticRed;
    background: none;
    color: $fantasticRed;
    width: 79px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    cursor: pointer;
}


/* Log in button ends */


/* Join Now btn starts */

.joinBtn {
    color: white;
    box-shadow: 0 5px 10px #00000057;
    border: none;
    background-color: #d90000;
    font-weight: 700;
    width: 160px;
}

.navbarSignupBtn {
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0 5px 10px #00000057;
    background-color: $fantasticRed;
    color: white;
    white-space: nowrap;
    width: 79px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    margin-left: 10px;
}


/* Join Now btn ends */


/* Phone image starts */

.phoneImage {
    //height: 90%;
    // height: 560px;
    height: 85vh;
    width: 83%;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* @include for-md {
        height: 687px;
    } */
    @include for-lg {
        width: 30%;
        /* position: relative;
        top: 8%; */
        margin: 0;
        height: 100%;
        background-position: right !important;
    }
}


/* Phone image ends */


/* Carousel button starts */


/* .carouselBtnContainer {
    @include for-lg {
        width: 40%;
        position: relative;
        top: 40px !important;
    }
}

.carouselBtn {
    background-color: white;
    color: $fantasticRed;
    border: none;
    border-radius: 50%;
    height: 38px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
        font-size: 28px;
        @include for-lg {
            font-size: 22px;
        }
    }
    .leftCaret {
        margin-right: 4px;
    }
    .rightCaret {
        margin-left: 4px;
    }
    @include for-lg {
        height: 30px;
        width: 29px;
    }
} */


/* Carousel button ends */


/* Leagues section starts */

.leaguesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    margin: 0 30px;
    height: 100%;
    padding-top: 38px;
    background-color: white;
    @include for-md {
        height: 50%;
    }
    @include for-lg {
        height: 80%;
        grid-template-columns: repeat(4, 1fr);
    }
}

.singleLogo {
    display: grid;
    height: 70px;
    width: 115px;
    align-items: center;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 64px;
        @include for-lg {
            max-height: 100%;
        }
    }
    @include for-lg {
        height: 109px;
        max-width: 157px;
        width: unset;
    }
}


/* Leagues section ends */

.thirdSection {
    background-color: $lightGreenBackground;
    height: max-content;
    padding-top: 24px;
    padding-bottom: 24px;
    @include for-lg {
        display: flex;
        align-items: center;
        height: 50vh;
    }
    .innerWhiteBackground {
        background: white;
        width: 90%;
        height: 97%;
        margin: 0 auto;
        padding: 0 25px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        @include for-lg {
            display: flex;
            align-items: center;
            height: 90%;
            padding-top: unset;
            padding-bottom: unset;
        }
    }
    hr {
        width: 50%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        border-width: 1px;
        border-color: #3a3a3a;
        @include for-lg {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            width: 33%;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .freeTier,
    .premiumTier {
        h3 {
            font-size: 41.87px;
            margin-bottom: 40px;
            span {
                background-color: $fantasticRed;
                color: white;
                font-weight: 700;
                padding: 5px;
            }
        }
        p {
            color: #444;
            text-align: center;
            font-size: 18px;
            line-height: 170%;
        }
        .comingSoon {
            color: $fantasticRed;
        }

        @include for-lg {
            width: 50%;
        }
    }
    .premiumTier {
        @include for-lg {
            margin-top: 20px;
        }
    }
}


/* PArtners section starts */

.fourthSection {
    height: 50%;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    .partners {
        font-size: 25px;
        font-weight: 700;
        color: #444444;
        margin-bottom: 50px;
    }
    @include for-md {
        height: 28%;
    }
    @include for-lg {
        height: 50%;
    }
}

.singlePartner {
    width: 50%;
    margin: 0 auto;
    .partnerLogo {
        height: 80px;
        width: 100px;
        margin: 0 auto;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    .partnerName {
        font-size: 16px;
        font-weight: lighter;
    }
}


/* Partners section ends */


/* bottom Join Now Button Section starts */

.fifthSection {
    height: 20vh;
    background-color: $lightGreenBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    @include for-md {
        height: 28%;
    }
    @include for-lg {
        height: 50%;
    }
}


/* bottom Join Now Button Section ends */

.helpSection {
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    br {
        @include for-md {
            display: none;
        }
    }
}

.bottomJoinBtn {
    width: 200px;
}


/* Carousel height starts */

.carouselHeight {
    /* height: 100%; */
    @include for-lg {
        height: 550px;
        margin-top: 50px;
    }
}


/* [_ngcontent-c1] {
    display: none;
} */

div.carousel-inner,
div.carousel {
    height: 100% !important;
    @include for-lg {
        height: unset;
    }
}


/* Carousel height ends */


/* Home page animation starts */
.invisible {
    animation: makeVisible .3s .9s ease forwards;
}
.invisibles {
    animation: makeVisible .3s .9s ease forwards;
}

@keyframes makeVisible {
    0% {
        visibility: 0;
    }
    50% {
        visibility: visible;
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
        transition: .5s;
        visibility: visible;
    }
}
/* Home page animation ends */