<div class="main">

    <div style='height: 100%'>
        <!-- Games category container starts -->
        <div class="gamesContainer">
            <!-- Single game dropdown starts -->
            <!-- <ng-container *ngIf="tokenGames.length > 0 ;else empty"> -->
            <div class="singleGameDropdown" *ngFor="let game of tokenGames; let gameArrayIndex=index;">

                <!-- Single game header starts -->
                <div class="containers dropdownhHeader d-flex align-items-center" (click)='toggleDropdown(game.id)'>
                    <div>
                        <h3 class='gameTitle mb-0'>{{game.title}}</h3>

                        <span class="entryFee small"><b>Entry:</b>{{game.entry_fee}}</span>
                        <span class="prize small"><b>Prize:</b>{{game.prize}} coins</span>
                        <span class="prize small ml-3"> <b>{{game?.date | date:'dd/MM/yy  hh:mm a'}}</b> </span>
                    </div>
                    <i class="fas fa-caret-down"></i>
                </div>
                <!-- Single game header ends -->

                <!-- Single game body starts -->
                <div class="dropdownBody" [ngClass]='{active: toggledId.includes(game.id)}'>
                    <div class="containers gameInstructions small">
                        Predict all {{game?.games?.length}} games
                    </div>

                    <!-- Single game day section starts -->
                    <div class='singleGameDay'>

                        <!-- Game date starts -->
                        <div class="gameDate">
                            <div class="containers">
                                <span>{{game.date  | date:'dd/MM/yy  hh:mm a'}}</span>
                            </div>

                        </div>
                        <!-- Game date ends -->

                        <!-- Game list section starts -->
                        <div class="gameList">
                            <ul>
                                <li *ngFor="let g of game.games; let gameIndex=index;">

                                    <div class="containers">
                                        <!-- Single game header starts -->
                                        <div class='singleGameHeader d-flex justify-content-between'>
                                            <span class="small gameTime">{{g.date  | date:'short'}}</span>
                                            <span class="small gamePrize">Prize: 1 coin</span>
                                        </div>
                                        <!-- Single game header ends -->

                                        <!-- Single game body starts -->
                                        <div class='singleGameBody'>


                                            <!-- Single game teams starts -->
                                            <div class="singleGameTeams">
                                                <span class="homeTeam">{{g.home}}</span>
                                                <span class="awayTeam">{{g.away}}</span>
                                            </div>
                                            <!-- Single game teams ends -->

                                            <!-- Action buttons starts -->
                                            <div class="actionBtnsContainer">
                                                <button (click)="disable(game)" class='enableBtn selectedBtn'
                                                    *ngIf="game.status">Enabled</button>
                                                <button (click)="enable(game)" class='disableBtn'
                                                    *ngIf="!game.status">Disabled</button>
                                                <button class="actionBtn "
                                                    (click)="onPredict(gameArrayIndex, gameIndex,button)"
                                                    *ngFor="let button of buttons; let i= index;" [ngClass]="{selectedBtn: (gamesWithResults[gameIndex]?.button === buttons[i] && gamesWithResults[gameIndex].id ===game.id) ||
                                                        ((filteredTokenGame.length >0 && filteredTokenGame[gameArrayIndex] !== undefined && filteredTokenGame[gameArrayIndex][gameIndex]?.id === game.id && filteredTokenGame[gameArrayIndex] !== undefined && filteredTokenGame[gameArrayIndex][gameIndex] !== undefined
                                                        && filteredTokenGame[gameArrayIndex][gameIndex]) ? filteredTokenGame[gameArrayIndex][gameIndex]?.button.name === buttons[i].name &&
                                                        filteredTokenGame[gameArrayIndex][gameIndex]?.id === game.id
                                                      :'')}">{{button.name}} </button>
                                            </div>
                                            <!-- Action buttons ends -->

                                        </div>
                                        <!-- Single game body ends -->
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <!-- Game list section ends -->
                    </div>
                    <!-- Single game day section ends -->


                </div>
                <!-- Single game body ends -->


            </div>
            <!-- </ng-container> -->
            <!-- Single game ends -->
            <!-- <ng-template #empty>
                <h4 style="text-align: center; margin-top: 20vh;">No token games on this league yet!</h4>
            </ng-template> -->
        </div>
        <!-- Games category container ends -->
        <!-- Update button section starts -->
        <div class="text-center py-3 bg-white updateBtnContainer">
            <button (click)="submitGameResults()" *ngIf="gamesWithResults.length>0"
                class="relative waves-light bg-success" mdbBtn mdbWavesEffect>Update</button>
        </div>
        <!-- Update button section ends -->
    </div>


</div>